# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Virtual Environment
# ========================
venv/
.env/

# ========================
# Environment & Secrets
# ========================
.env
.env.*
*.key
*.pem

# ========================
# OS / Editor noise
# ========================
.DS_Store
Thumbs.db
.vscode/

# ========================
# Logs
# ========================
*.log
.vscode
**/venv/